.abovePart{        
    background: url("https://cdn.pixabay.com/photo/2017/07/18/23/40/group-2517459_1280.png");
}
.FirstPart{
    display: flex;
}
.FirstPartiind{
    margin-top: 20px;
}
.SecPart{
    margin-left:100px;
}
.SecPart h1{
    color: red;
}
.VideoPart{
    display: flex;
    margin-left: 300px;
    margin-top: 50px;
    flex: 1;
}
.Left{
    display: flex;
}
.LeftP{
    flex: 1;
}
.LeftP h1{
    color: red;
    margin-left: 20px;
    margin-top: 50px;
}
.leftcontainer {
    margin-left:20px;
    margin-top:20px;
    color: whitesmoke;
    

}
.leftcontaineriind{
    margin-left: 20px;

    
}
@media  (max-width : 750px) {
    .FirstPart{
      flex-wrap:wrap;
      width: 100%;
    }
    .FirstPartiind{
        width: 90%;
        height:250px;
        margin: auto;
    }
    .FirstPartiind iframe{
        height: 100%;
        width: 100%;
    }
    .SecPart{
        margin-left:0px;
        width: 90%;
        margin: auto;
        margin-top: 10px;

    }
    .Left{
        width: 100%;
        flex-wrap: wrap;
    }
    .LeftP{
        width: 90%;
        margin:auto;
    }
    .VideoPart{
        width: 90%;
        height:250px;
        margin-left: 0px;
        margin-top:10px;
        margin: auto;
    }
    .VideoPart iframe{
        height: 100%;
        width: 100%;

    }
    .leftcontainer{
        margin-left: 0px;
    }
    .leftcontaineriind{
        margin-left: 0px;
    }
    
}