.abovePart {
    background: url("https://cdn.pixabay.com/photo/2017/01/09/11/30/dumbbell-1966247_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
  }
  
.SecPart > p {
    padding-top: 3vh;
    /* text-align: justify; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
    background: #111;
    text-align: center;
    border-radius: 7px;

  }
  
  .FirstPart {
    display: flex;
  }
  
  .FirstPartiind {
    margin-top: 20px;
  }
  
  .SecPart {
    margin-left: 100px;
  }
  
  .SecPart h1 {
    color: red;
    text-align: center;
  }
  
  .VideoPart {
    display: flex;
    margin-left: 300px;
    margin-top: 50px;
    flex: 1;
  }
  
  .Left {
    display: flex;
    /* flex-direction: column; */
  }
  
  .LeftP {
    flex: "";

  }
  
  .LeftP h1 {
    color: red;
  text-align: center;

  }
  
  .leftcontainer {
    padding-top: 3vh;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
    background: #111;
    text-align: center;
    border-radius: 7px;
    
  }
  
  .leftcontaineriind {
    margin-left: 20px;
  }
  
  /* Media Queries for Mobile */
  @media (max-width: 768px) {
    .FirstPart {
      flex-direction: column;
      align-items: center;
    }
  
    .SecPart {
      margin-left: 0;
      margin-top: 20px;
      text-align: center;
    }
  
    .VideoPart {
      margin-left: 0;
      margin-top: 20px;
    }
  
    .Left {
      margin-top: 20px;
    }
  
    .LeftP h1 {
      margin-left: 0;
      text-align: center;
    }
  }
  