.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background: url("https://cdn.pixabay.com/photo/2017/01/09/11/30/dumbbell-1966247_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;

}
.cardDetails{
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    /* overflow:scroll; */
    overflow-x: scroll;
    width: 70%;   
     
}
.card{
    /* border: solid 2px black; */
    background-color:white;
    height:23em;
    /* min-width: 22em; */
    min-width: 32%;
    display: flex;
    margin-right: 18px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4em;
    /* overflow: scroll; */
    
}


.img{
    height: 8em;
    width: 8em;
    border-radius: 50%;
    border: 0.2em black solid;
    background-color: black;
    color: antiquewhite;
   
}

.name{
    /* background-color: black; */
    color:black;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.description{
    /* background-color: black; */
    font-size:1em;
    color: rgb(68, 0, 253);
    margin-top: -1em;
    padding:20px;
}

