.First_div{
    background: url("https://cdn.pixabay.com/photo/2016/02/07/21/03/computer-1185626_1280.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* width: 100%; */
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.container{
    display: flex;
    width: 100%;
    
}
.leftContainer{
    width: 50%;
    
}
.rightContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

}
.leftContainer img{
    height: 135%;
    width: 100%;
}
.rightContainer h1{
    margin-bottom: 20px;
    padding: 20px;
}
.rightContainer h3{
    margin-bottom: 20px;
    padding: 20px;
}
.rightContainer h4{
    margin-bottom: 20px;
    padding: 20px;
}
.rightContainer span{
    margin-top: 20px;
    padding: 20px;
    
}
.rightContainer a {
    text-decoration: none;
    color: black;
    font: bold;
    font-size: 20px;
}
