*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.container{
    display: flex;
    width: 100%;
    
}
.leftContainer{
    width: 50%;
    
}
.rightContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 1px solid red;
}
.leftContainer img{
    height: 135%;
    width: 100%;
}
