 *{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.main_file {
  width: 100%;
  position: relative;
  text-align: center;
}

.heading {
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.heading h1 {
  font-size: 30px;
  color: whitesmoke;
  max-width: 80%;
  margin: 0 auto;
}

body {
  background-color: gray;
}

.img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.headings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  color: tomato;
  letter-spacing: 2px;
}

.headPara {
  border: 2px solid;
  /* background-color: #fff; */
  text-align: center;
  
}
.mainParent{
  background: url("https://cdn.pixabay.com/photo/2017/01/09/11/30/dumbbell-1966247_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.headPara p {
  color: black;
  margin: 5px;
  padding: 20px 20px;
  background-color: #fff;
  margin: 10px 20%;
  border-radius: 15px;
}
.mainH1{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid; */
  color: red;
  margin-bottom: 5rem;
  margin-top: 3rem;
  font-weight: bold;
  letter-spacing: 5px;

}

@media only screen and (max-width: 600px) {
  .heading h1 {
    font-size: 20px;
    margin-top: 10rem;
  }
} 