.mainContainer {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    width: 100vw;
   
    background: url("https://cdn.pixabay.com/photo/2017/01/09/11/30/dumbbell-1966247_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   
}
.from {
    border: 2px solid whitesmoke;
    background-color: #4e4c4c;
    height: 31em;
    width: 26em;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.image {
    height: 8em;
    width: 8em;
    border: solid 0.2em white;
    border-radius: 50%;
    position: relative;
    top: -4em;
    
}
.inputDiv {
    display: flex;
    width: 75%;
    margin-top: -1em;
    align-items:stretch;
    flex-direction: column;
    justify-content: center;
}
.buttonDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 75%;

}

.button {
    height: 2em;
    width: 5em;
    border: solid 1px black;
    background-color: aquamarine;
    border-radius: 0.4em;
    font-weight: bolder;

}

input {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
  }

  .registerLink a{
    height: 2em;
    width: 5em;
    border: solid 1px black;
    background-color: aquamarine;
    border-radius: 0.4em;
    font-weight: bolder;
    text-decoration: none;

}
