/* 
.main_container {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: grey;
  z-index: 20;
}


.container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}


ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  text-decoration: none;
  text-transform: uppercase;
}


button {
  border: none;
  cursor: pointer;
}

li a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  color: blue;
  cursor: pointer;
}


@media (min-width: 768px) {
  .container {
    padding: 10px 40px;
  }

  ul {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  li {
    margin: 0 10px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
} */
/* Navbar main container */
.main_container {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: grey;
  z-index: 20;
}

/* Navbar container */
.container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

/* Logo */
.Logo1 {
  height: 50px;
}

/* Menu icon */
.menu_icon {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 20px;
  position: relative;
  margin-top: 15px;
}

.menu_icon_bar {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}

.menu_icon_bar:nth-child(1) {
  top: 0px;
}

.menu_icon_bar:nth-child(2),
.menu_icon_bar:nth-child(3) {
  top: 9px;
}

.menu_icon_bar:nth-child(4) {
  top: 18px;
}

/* Active menu icon */
.menu_icon_active .menu_icon_bar:nth-child(1),
.menu_icon_active .menu_icon_bar:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.menu_icon_active .menu_icon_bar:nth-child(2) {
  transform: rotate(45deg);
}

.menu_icon_active .menu_icon_bar:nth-child(3) {
  transform: rotate(-45deg);
}

/* Unordered list inside the navbar */
ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* List items in the navbar */
li {
  text-decoration: none;
  text-transform: uppercase;
}

/* Link in the navbar */
.Link {
  text-decoration: none;
  color: whitesmoke;
}

.Link:hover {
  color: blue;
  cursor: pointer;
}

/* Active menu */
.menu_active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  z-index: 10;
  background-color: grey;
}

/* Media queries */
@media (min-width: 768px) {
  .container {
    padding: 10px 40px;
  }

  ul {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  li {
    margin: 0 10px;
  }

  /* Logo */
  .Logo1 {
    height: 70px;
  }

  /* Menu icon */
  .menu_icon {
    display: none;
  }

  /* Unordered list inside the navbar */
  ul {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
