/* Navbar main container */
.Nav.main_container {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #ffffff; 
  /* z-index: 100; 
  height: 100%;  */
  
}

/* Navbar container */
.container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px; 
  
}

/* Unordered list inside the navbar */
ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center; /* align items vertically in the middle */
}

/* List items in the navbar */
li {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  
}

/* Button in the navbar */
button {
  border: none;
  cursor: pointer;
}

/* li Link{
  color: whitesmoke;
} */